<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
  </configSections>
  <specFlow>
    <unitTestProvider name="NUnit" />
    
    <stepAssemblies>
      <stepAssembly assembly="V1.TestAutomation.Common" />
    </stepAssemblies>
    
  </specFlow>

<appSettings>
  <add key="applicationRoot" value="http://srvdevms06.dev.v1.com:1216" />
  <add key="screenshotFolder" value="c:\temp\" />
  <!-- Domain specific configuation accessed from features -->

</appSettings>
  
  <autofac>
    <components>
    <!--<component type=" OpenQA.Selenium.PhantomJS.PhantomJSDriver, WebDriver" service="OpenQA.Selenium.IWebDriver, WebDriver" />-->
     <component
          type=" OpenQA.Selenium.Chrome.ChromeDriver, WebDriver"
          service="OpenQA.Selenium.IWebDriver, WebDriver" />
    </components>
  </autofac>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>